<!-- app/views/customers/alphabetized.html.erb -->
<h1 class="block text-center mx-auto text-4xl my-1">Alphabetized Customers</h1>

<div class="container mx-auto p-6 grid grid-cols-1 md:grid-cols-3 gap-6">
  <% @customers.each do |customer| %>
    <%= render 'customer', customer: customer %>
  <% end %>
</div>

<div class="flex justify-center space-x-4">
    <%= link_to 'All Customers', root_path %>
    <%= link_to 'Missing Email', customers_missing_email_path %>
</div>